header {
    background-color: black;
}

h4 {
    font-size: 1.3rem;
    margin-bottom: 0;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

.card,
.card-footer{
    background-color: transparent;
    border-color: transparent;
}

.box {
    opacity: 0.6;
    transition: all 1s;
}

.category {
    color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    height: 120px;
    background-image: url("../img/catbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


/* -- HOVER -- */
.box:hover {
    opacity: 1;
    transform: scale(1.01);
}

.category:hover {
    color: black;
}


.back {
    margin: 3rem 0;
}

footer {
    padding: 10px 0;
    background-color: black;
}